<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jass.css">
   <script src="https://kit.fontawesome.com/393dbc91f7.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    {{!-- It is assumed user is logged in in order to load this page, so commenting out the "ifs" --}}
    {{!-- {{#if logged_in}} --}}
  
   <nav class="navbar navbar-expand-lg navbar-dark">
     <span class="navbar-brand mb-1 h1">Tech Blog</span>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>    
      <button class="btn navbar-btn" id="logout">Logout</button>
    </nav>
    {{!-- {{/if}} --}}
  </header>
  <main class="container container-fluid mt-5">
    {{!-- handlebar views appear below  --}}
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
    {{!-- It is assumed user is logged in in order to load this page, so commenting out the "ifs"
  {{!-- {{#if logged_in}} --}}
  <script src="/js/logout.js"></script>
  {{!-- {{/if}} --}}
</body>

</html>
